nav{
    background-color:antiquewhite;
    display: flex;
    justify-content: space-between;
    height: 200px;
    text-decoration: underline;
    font-size: xx-large;
    align-items: center;

}
ul{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 100px;
    color: rgb(112, 5, 5);
}

li{
    list-style: square;
}
.about{
    height: 30px;
    background-color: rosybrown;
    padding-left: 1000px;
    color: rgb(112, 5, 5);
    font-size: x-small;
}
.contacts{
    background-color: white;
    font-size: xx-small;
    text-transform: uppercase;
    text-decoration: underline;
}
.names{
    background-color: white;
    height: 10px;
    font-size: smaller;
}
.surname{
    background-color: white;
    height: 10px;
    font-size: smaller;
}
.age{
    background-color: white;
    height: 10px;
    font-size: smaller;
}